/SistemaConexion/build/
/Dominio/build/
/DibujadoTablero/build/
/PresentacionTimbiriche/nbproject/private/
/Dominio/dist/
/DibujadoTablero/dist/
/PresentacionTimbiriche/build/
/SistemaConexion/dist/
/PresentacionTimbiriche/dist/